.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 200px;
}
.card>img{
  height: 80px;
  width: 80px;
  padding: 8px;
}
.card>span{
  font-weight: bold;
  text-align: center;
}
.card-wrapper{
  display: grid;
  grid-template-columns: repeat(7,auto);
}
.no-result{
  text-align: center;
  font-weight: bold;
}
.search-wrapper{
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px gray;
  margin-bottom: 20px;
  padding: 10px;
}
.search{
  width: 500px;
  outline-color: gray;
  padding: 6px;
}